body{
    background-color:#336699;
}

li{
	text-decoration: none;
	display:inline;
	background-color: none;
	color: white;
}
i{
	color:white
}
p{
	text-align:center;
	color:white
}
h1{
	text-align:center;
	color:white
}
a{
	color:white
}

a:hover {
  font-size: 150%;
}
li:hover {
  font-size: 150%;
}
i:hover {
opacity: .5;
}
* {
    box-sizing: border-box;
}