body{
    background-color:#336699;
}

li{
	text-decoration: none;
	display:inline;
	background-color: none;
	color: "white";
}

li:hover {
  font-size: 150%;
}
i:hover {
opacity: .5;
}

h1{
  text-align:center;
  color:white;
}
p{
  text-align:center;
  color:white;
}
i{
	color:white
}

a{
	color:white
}